.burgerContainer {
  position: relative;

  @media (min-width: 1280px) {
    display: none;
  }
}

.burger {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;

  .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $green;
    transition: all 0.3s ease-in-out;
  }

  .line:nth-child(1) {
    top: 4px;
  }

  .line:nth-child(2) {
    top: 11px;
  }

  .line:nth-child(3) {
    top: 18px;
  }
}

.open .line:nth-child(1) {
  transform: rotate(45deg);
  top: 11px;
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 11px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  background-color: #f2f1e8;
  border-left: 1px solid #ccc;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);

  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

  @include fluid-size("width", 400px, 1279px, 300px, 400px);

  &.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .menuSearch {
    box-sizing: content-box;
    z-index: 1001;
    margin-right: auto;

    display: flex;
    align-items: center;

    @include fluid-size("padding-top", 768px, 1920px, 4px, 7px);
    @include fluid-size("padding-bottom", 768px, 1920px, 2px, 5px);
    @include fluid-size("padding-left", 768px, 1920px, 20px, 50px);
    @include fluid-size(height, 320px, 1920px, 43px, 85px);
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  a {
    text-decoration: none;
    color: black;
    font-family: "Lato";
    padding: 25px 0 25px 40px;

    @include fluid-type(768px, 1920px, 14px, 20px);

    &:hover {
      background-color: #e4e2ce;
    }
  }

  @media (max-width: 400px) {
    width: 100%;
    border-radius: 0;
  }
}

.menu.open {
  transform: translateX(0);
  opacity: 1;
}
