.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;

  video,
  img,
  iframe {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  z-index: 2;

  &:hover {
    color: #ccc;
  }

  .closeIcon {
    width: 32px;
    height: 32px;
  }
}
