.publicationCard {
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
  font-weight: 400;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    @include fluid-size(gap, 320px, 768px, 10px, 20px);
  }
}

.photo {
  position: relative;
  @include fluid-size(width, 768px, 1920px, 271px, 678px);
  @include fluid-size(height, 768px, 1920px, 240px, 601px);

  @media (max-width: 768px) {
    @include fluid-size(width, 320px, 768px, 271px, 406px);
    @include fluid-size(height, 320px, 768px, 240px, 360px);
  }

  .photoImg {
    width: 100%;
    height: auto;
    max-width: 678px;
    min-width: 271px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 768px) {
      max-width: 406px;
      min-width: 180px;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;

  @include fluid-size(gap, 768px, 1920px, 18px, 24px);
  @include fluid-size(width, 768px, 1920px, 306px, 765px);

  @media (max-width: 768px) {
    @include fluid-size(width, 320px, 768px, 300px, 700px);
  }
}

.bookButton {
  margin-top: auto;

  @include fluid-type(768px, 1920px, 12px, 20px);
  svg {
    @media (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}
