// @use "@/styles/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $base-color;
  max-width: 1920px;
  margin: 0 auto;

  @include fluid-size("padding-top", 768px, 1920px, 2px, 5px);
  @include fluid-size("padding-bottom", 768px, 1920px, 2px, 5px);
  @include fluid-size("padding-left", 768px, 1920px, 10px, 45px);
  @include fluid-size("padding-right", 768px, 1920px, 10px, 45px);
}
