.section {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  position: relative;

  @include fluid-size("padding-top", 768px, 1920px, 20px, 40px);
  @include fluid-size("padding-left", 768px, 1920px, 20px, 0px);
  @include fluid-size("padding-right", 768px, 1920px, 20px, 0px);
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #1b572c;
  margin-bottom: 24px;
  text-align: center;

  @include fluid-type(768px, 1920px, 16px, 24px);
}

.line {
  width: 100%;
  height: 1px;
  background-color: #061f13;
  margin-bottom: 24px;
}

.sliderWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;

  @media (max-width: 1300px) {
    max-width: 900px;
  }

  @media (max-width: 1024px) {
    max-width: 700px;
  }

  @media (max-width: 768px) {
    max-width: 500px;
  }

  @media (max-width: 600px) {
    max-width: 380px;
  }

  @media (max-width: 425px) {
    max-width: 280px;
  }

  @media (min-width: 1920px) {
    max-width: 1600px;
  }
}

.slider {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include fluid-size(padding-left, 320px, 1920px, 20px, 60px);
  @include fluid-size(padding-right, 320px, 1920px, 20px, 60px);
}

.swiper {
  width: 100%;
}

.card {
  background: white;
  border-radius: 8px;
  height: 180px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.2s ease-in-out;
  color: #000;
  gap: 12px;
  width: 100%;
  max-width: 230px;

  @include fluid-size("padding", 768px, 1920px, 4px, 8px);
}

.card:hover {
  transform: translateY(-4px);

  @media (max-width: 768px) {
    transform: translate(4px, 0);
  }
}

.day {
  font-weight: bold;
  color: #1b572c;

  @include fluid-type(768px, 1920px, 16px, 24px);
}

.desc {
  font-family: "Lato";

  @include fluid-type(768px, 1920px, 14px, 18px);
}

.link {
  font-family: "Lato";
  color: inherit;
  text-decoration: none;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;

  @include fluid-type(768px, 1920px, 14px, 18px);
}

.link:hover {
  text-decoration: underline;
}

.icon {
  width: 14px;
  height: 14px;
}

.navButtons {
  display: flex;
  justify-content: center;
  gap: 18px;

  @include fluid-size("margin-top", 768px, 1920px, 20px, 32px);
}

.navButtons button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #1b572c;
  background: white;
  color: #1b572c;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  transition: background-color 0.3s ease;
}

.navButtons button:hover {
  background-color: #f0f0f0;
}
