.sliderWrapper {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  position: relative;

  @include fluid-size("padding-top", 768px, 1920px, 20px, 40px);
  @include fluid-size("padding-left", 768px, 1920px, 20px, 0px);
  @include fluid-size("padding-right", 768px, 1920px, 20px, 0px);
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #1b572c;
  margin-bottom: 24px;
  text-align: center;

  @include fluid-type(768px, 1920px, 16px, 24px);
}

.line {
  width: 100%;
  height: 1px;
  background-color: #061f13;
  margin-bottom: 24px;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: space-between;

  @include fluid-size("gap", 768px, 1920px, 16px, 36px);
  @include fluid-size("padding-bottom", 768px, 1920px, 4px, 16px);

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.card {
  background: white;
  border-radius: 8px;
  min-height: 170px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.2s ease-in-out;
  color: #000;
  gap: 12px;

  @include fluid-size("padding", 768px, 1920px, 4px, 8px);
  @include fluid-size("width", 768px, 1920px, 110px, 240px);
  @include fluid-size("min-width", 768px, 1920px, 110px, 240px);

  @media (max-width: 768px) {
    min-height: 100px;
  }

  @media (max-width: 768px) {
    width: 80%;
    min-width: 80%;
  }

  @media (max-width: 425px) {
    width: 100%;
    min-width: 100%;
  }
}

.card:hover {
  transform: translateY(-4px);

  @media (max-width: 768px) {
    transform: translate(4px, 0);
  }
}

.day {
  font-weight: bold;
  color: #1b572c;

  @include fluid-type(768px, 1920px, 16px, 24px);
}

.desc {
  font-family: "Lato";

  @include fluid-type(768px, 1920px, 14px, 18px);
}

.link {
  font-family: "Lato";
  color: inherit;
  text-decoration: none;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;

  @include fluid-type(768px, 1920px, 14px, 18px);
}

.link:hover {
  text-decoration: underline;
}

.icon {
  width: 14px;
  height: 14px;
}

.navButtons {
  display: flex;
  justify-content: center;
  gap: 18px;

  @include fluid-size("margin-top", 768px, 1920px, 20px, 32px);
}

.navButtons button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #1b572c;
  background: white;
  color: #1b572c;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  transition: background-color 0.3s ease;
}

.navButtons button:hover {
  background-color: #f0f0f0;
}
