.intro {
  background-color: $base-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include fluid-size("padding-top", 768px, 1920px, 40px, 100px);
  @include fluid-size("padding-bottom", 768px, 1920px, 40px, 100px);
  @include fluid-size("padding-left", 768px, 1920px, 64px, 160px);
  @include fluid-size("padding-right", 768px, 1920px, 64px, 160px);

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 10px;

    @include fluid-size("padding-left", 320px, 767px, 32px, 40px);
    @include fluid-size("padding-right", 320px, 767px, 32px, 40px);
  }
}

.description {
  display: flex;
  flex-direction: column;

  @include fluid-size("width", 768px, 1920px, 379px, 947px);

  .title {
    font-family: "Roboto";
    font-size: 64px;
    font-weight: 400;
    color: #2e2e27;

    @include fluid-type(768px, 1920px, 22px, 64px);
  }

  .text {
    @include fluid-type(768px, 1920px, 14px, 20px);
    @include fluid-size("margin-top", 768px, 1920px, 12px, 24px);
    @include fluid-size("line-height", 768px, 1920px, 18px, 32px);
  }

  .person {
    display: flex;
    align-items: center;
    @include fluid-size("gap", 768px, 1920px, 13px, 32px);
    @include fluid-size("margin-top", 768px, 1920px, 12px, 24px);

    .job {
      font-family: "Roboto";

      .position {
        font-weight: 300;
        @include fluid-type(768px, 1920px, 10px, 14px);
      }

      .name {
        font-weight: 700;
        @include fluid-type(768px, 1920px, 13px, 17px);
      }
    }

    .signature {
      @include fluid-size("width", 768px, 1920px, 65px, 164px);
      @include fluid-size("height", 768px, 1920px, 38px, 95px);

      .signatureIcon {
        width: 100%;
        height: auto;
        max-width: 164px;
      }
    }
  }

  .personButton {
    @include fluid-size("margin-top", 768px, 1920px, 25px, 46px);
  }
}

.photo {
  width: 581px;
  height: 669px;
  border-radius: 8px;

  @include fluid-size("width", 768px, 1920px, 232px, 581px);
  @include fluid-size("height", 768px, 1920px, 267px, 669px);

  .svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.star {
  position: absolute;
  bottom: 0;
  transform: translate(50%, 50%);
  @include fluid-size("right", 320px, 1920px, 50px, 150px);
  @include fluid-size("width", 768px, 1920px, 60px, 99px);

  svg {
    width: 100%;
    height: auto;
    max-width: 99px;
  }
}
